*{
    padding: 0px;
    margin: 0px;
}
body{
     background-color: #F2CBBD;
}
nav{
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 80px;
    font-size: 20px;
    background-color: #74788C;
    align-items: center;
}
nav ul li{
    margin: 12px;
}
.brand img{
    height: 40px;
    width: 40px;
    padding: 0px 8px;
    
}
.brand{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;

    

}
.container{
    min-height: 70vh;
    background-color: #090909;
    color: antiquewhite;
    display: flex;
    font-family: sans-serif;
    width: 70%;
    margin: 23px auto;
    border-radius: 13px;
    padding: 34px;
    background-image: url('https://images.pexels.com/photos/3721941/pexels-photo-3721941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
}
.bottom{
    position: sticky;
    height: 120px;
    background-color:#090909;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    color: beige;
    flex-direction: column;
    bottom: 0;
}
.icons{
   
   margin: 10px;
   cursor: pointer;
}
.icons i:hover{
    color: #74788C;
}
#myProgressBar{
    width: 85vw ;
    cursor: pointer;
     
}
.songItems{
    height: 50px;
    display: flex;
    background-color: #d2d5e0;;
    width: 100%;
    color: #090909;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
    border-radius: 23px;
    

}
.songItemContainer{
    margin-top: 50px;
}
.songItems img{
    width: 43px;
    margin:  0px 23px ;
    height: 45px;
    border-radius: 34px;
   
}
.timestamp{
    margin: 0px 23px ;
  
}
.timestamp i{
   
    cursor: pointer;
}

.duration{
    margin-right: 10px;
}
.songInfo{
    position: absolute;
    left: 4.5vw;
    font-family: cursive;
    font-size: 20px ;
    padding-top: 25px ;

    
}
.songInfo img{
    height: 20px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}
.songlist{
    margin: 0px 40px;
}


.flexBoxInputContainer{
    display: flex;
    align-items: center;
    gap:10px;
    justify-content: space-between;
}

.flexBoxInputContainer span{
    color:lightblue;
}